R2_ENDPOINT="https://adsfdasdfsdfasdfasdf.r2.cloudflarestorage.com"
R2_BUCKET="basemaps-hq"
# Can be get from Cloudflare R2 dashboard (see R2 -> API -> Create key)
R2_ACCESS_KEY="adsfdasdfsdfasdfasdf"
R2_SECRET_KEY="adsfdasdfsdfasdfasdf"
